<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Admin login</h1>
    <div class="nah">
        <form method="POST" action="">
          {% csrf_token %}<br>
           <input  class="input-field"  type="text" name="name1"  placeholder="Username"><br>
            <input class="input-field" type="password" name="name2" placeholder="password"><br>

                <button class="button" type="submit"> signin</button>
             </div>

</body>
</html>